In [23]:
import numpy as np
import pandas as pd

In [24]:
pd.set_option('display.max_columns', None)

In [31]:
data=pd.read_csv('Full List of Contacts.csv')
data.head()

                     Name Phone 1 - Value Phone 2 - Value
0         Aakash Rai Sajc    917449328816             NaN
1  Aayush Gb Sir Whatsapp    919051028672             NaN
2        Aayush Soni SPIS    943-344-7078             NaN
3                Ab Sir 1    988-321-9857             NaN
4             Abha Srijen    918709736458             NaN

### Cleaning the Phone-1

In [32]:
def clean(text):
    text= str(text)
    text=text.replace('+', '')
    text=text.replace('-', '')
    text = text.replace(' ', '')
    return text

In [33]:
data['Phone 1 - Value'] = data['Phone 1 - Value'].apply(clean)

In [34]:
data['Phone 1 - Value'].apply(lambda x:len(x)).value_counts()

Phone 1 - Value
12    693
10    324
11      3
Name: count, dtype: int64

In [35]:
data['Phone 1 - Value'][data['Phone 1 - Value'].apply(lambda x: len(x)==12)].apply(lambda x: str(x)[0:2]).value_counts()

Phone 1 - Value
91    693
Name: count, dtype: int64

In [36]:
data['Phone 1 - Value'][data['Phone 1 - Value'].apply(lambda x: len(x)==11)]

368    15149163842
370    14389209303
552    34635135883
Name: Phone 1 - Value, dtype: object

In [37]:
def replace(text):
    text = str(text)
    if len(text) == 12:
        text = text[2:]
    else:
        text = text
    return text

In [38]:
data['Phone 1 - Value'] = data['Phone 1 - Value'].apply(replace)

In [39]:
data['Phone 1 - Value'].apply(lambda x:len(x)).value_counts()

Phone 1 - Value
10    1017
11       3
Name: count, dtype: int64

### Cleaning the Phone 2

In [40]:
data['Phone 2 - Value'] = data['Phone 2 - Value'].apply(clean)

In [41]:
data['Phone 2 - Value'] = data['Phone 2 - Value'].apply(replace)

In [42]:
data['Phone 2 - Value'].apply(lambda x:len(x)).value_counts()

Phone 2 - Value
3     1006
10      14
Name: count, dtype: int64

In [43]:
data['Phone 2 - Value'].value_counts()

Phone 2 - Value
nan           1006
8557978039       1
7280010101       1
9374733772       1
9836737272       1
9831227791       1
9883672882       1
9079220048       1
7003406294       1
9817922283       1
7427052739       1
8240522212       1
8444998056       1
9205872015       1
7003383130       1
Name: count, dtype: int64

#### Applying The Tags

In [44]:
data['Name'].apply(lambda x: x.split(' '))

0                   [Aakash, Rai, Sajc]
1           [Aayush, Gb, Sir, Whatsapp]
2                  [Aayush, Soni, SPIS]
3                          [Ab, Sir, 1]
4                        [Abha, Srijen]
                     ...
1015                 [Yatin, Sendzilla]
1016    [Yatin, Sendzilla, Calling, No]
1017            [Yogesh, Bhaiya, SSSSO]
1018                 [Yogesh, Firstcry]
1019       [Zubair, Rahman, Uber, Bike]
Name: Name, Length: 1020, dtype: object

### Giving Tags

In [45]:
def Give_tags(text):
    text = text.lower()
    text = text.split(' ')
    if 'sajc'in text or 'jaipuria' in text:
        return 'Sajc'
    elif 'shoolini'in text or 'shoolinimate' in text:
        return 'Shoolini'
    elif 'wao' in text:
        return 'Wao'
    elif 'ab' in text:
        return 'AB Sir'
    elif 'gb' in text:
        return 'GB Sir'
    elif 'spis' in text:
        return 'Spis'
    elif 'gwg' in text:
        return 'Grow with Gajju'
    elif 'fun' in text:
        return 'Fun Sessions'
    elif 'great' in text or 'gl' in text:
        return 'Great Learning'
    elif 'wishkey' in text or 'firstcry' in text:
        return 'Wishkey'
    elif 'sssso' in text:
        return 'Sathya Sai Seva Samity'
    elif 'biosash' in text:
        return 'Biosash'
    elif 'modicare' in text:
        return 'Modicare'
    elif 'srijen' in text:
        return 'Srijen'
    elif 'rr' in text or 'richer' in text:
        return 'Richer Readers'
    elif 'driver' in text or 'cab' in text or 'taxi' in text or 'uber' in text or 'bike' in text or 'ola' in text:
        return 'Cab or bike'
    elif 'erudite' in text:
        return 'Erudite'
    elif 'fibre' in text or 'fiber' in text:
        return 'wifi'
    elif 'docemy' in text:
        return 'Docemy'
    elif 'habit' in text:
        return 'Morning Workshop'
    elif 'insta' in text:
        return 'Instagram Friends'
    elif 'book' in text:
        return 'Book O Holic'
    elif 'sendzilla' in text:
        return 'Sendzilla'
    elif 'guest' in text:
        return 'Guest House'
    elif 'sjv' in text:
        return 'SJV'
    elif 'anna'in text or 'akka' in text or 'goy' in text or 'gpu' in text :
        return 'Isha'
    elif'linkedin' in text:
        return 'Linkedin Friends'
    elif 'internship' in text or 'work' in text:
        return 'Professional'
    elif 'vasant' in text or 'virtual' in text or 'pathshala' in text or 'zoom' in text or 'samvedna' in text:
        return 'Samvedna'
    elif 'love' in text:
        return 'Love and Care'
    elif 'elite' in text or 'toastmaster' in text or 'toastmasters' in text or 'tm' in text:
        return 'Toastmasters'
    elif 'rent' in text or 'flat' in text or 'pg' in text or 'hotel' in text:
        return 'Flat Hunting or Hotels'
    elif 'vocab' in text or 'spotify' in text:
        return 'Vocab Ke Nuskhe'
    elif 'Mayapur' in text:
        return 'Mayapur'
    elif 'mmc' in text:
        return 'Manindra College'
    elif 'relative' in text:
        return 'Relatives'
    elif 'teacher' in text:
        return 'Teacher'
    elif 'preetam' in text:
        return 'Preetam Sir'
    elif 'javed' in text:
        return 'Javed Sir'
    elif 'creators' in text:
        return 'Creators Group'
    elif 'mistry' in text or 'mistri' in text:
        return 'Mistri or Mistry'
    elif 'shivnath' in text or 'scottish' in text :
        return 'Inter College event'
    elif 'little' in text:
        return 'Little Flower'
    elif 'open' in text:
        return 'Open Mic'
    elif 'law' in text or 'loa' in text or 'manifestation' in text:
        return 'Law of Attraction'
    elif 'adda' in text:
        return 'ADDA'

    else:
        return 'Others'

In [50]:
data['Tags'] = data['Name'].apply(Give_tags)

In [51]:
data['Tags'].value_counts()

Tags
Shoolini                  130
Others                    102
Sajc                       85
Wishkey                    61
Great Learning             47
Wao                        39
Isha                       36
SJV                        36
Spis                       32
Morning Workshop           31
Docemy                     28
Love and Care              26
Fun Sessions               24
Samvedna                   24
Toastmasters               23
Biosash                    23
Professional               21
Flat Hunting or Hotels     20
Richer Readers             20
AB Sir                     18
Preetam Sir                17
Teacher                    17
Relatives                  15
Erudite                    13
Srijen                     12
GB Sir                     12
Modicare                   10
Linkedin Friends           10
Inter College event         9
Sathya Sai Seva Samity      9
Manindra College            8
Instagram Friends           7
Open Mic                    7
Cab or bike                 7
Little Flower               6
Law of Attraction           5
Book O Holic                5
ADDA                        4
Mistri or Mistry            4
wifi                        3
Creators Group              3
Sendzilla                   3
Guest House                 2
Vocab Ke Nuskhe             2
Javed Sir                   2
Grow with Gajju             2
Name: count, dtype: int64

In [52]:
data.to_csv('contacts_tagged.csv', index = False)